*{
    padding: 0;
    margin: 0;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
}
.openChat{
    position: absolute;
    right: 10px;
    top: 47%;
    cursor: pointer;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}
.chatBot-Overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(170deg, rgba(84,158,255, .692) 0%, rgba(14, 64, 151, 0.692) 100%);
    backdrop-filter: blur(5px);
    .closeChat{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 20px;
        right: 20px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        .line{
            position: absolute;
            width: 90%;
            height: 3px;
            border-radius: 2px;
            background-color: white;
        }
        .line:first-of-type{
            transform: rotate(-45deg);
        }
        .line:last-of-type{
            transform: rotate(45deg);
        }
    }
    .progressBar{
        width: 70%;
        max-width: 500px;
        border-radius: 20px;
        position: relative;
        top: 30px;
        height: 7px;
        background-color: rgb(172, 172, 172);
        margin: 0 auto;

        .currentProgress{
            width: 80%;
            background-color: white;
            height: 100%;
            border-radius: 20px;
        }
    }

    img{
        width: 200px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .chatContainer{
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-55%);
        width: 500px;
        height: 650px;
        background-color: #011d4d80;
        border-radius: 10px;
        padding-top: 50px;

        .chatMessages{
            margin: 0 auto;
            width: 70%;
            height: 450px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow-y: auto;
            .messagesContainer{
                width: 100%;
                height: 80px;
                display: flex;
                align-items: flex-end;
            }

            .botMessagesContainer{
                justify-content: left;
                .botImg{
                    height: 45px;
                    width: 45px;
                    background-color: white;
                    border-radius: 50% 50% 0 50%;
                }
                .botMessage{
                    height: 100%;
                    width: 210px;
                    margin-left: 20px;
                    border-radius: 15px 15px 15px 0 ;
                    background-color: #68B2FF
                }
            }
            .userMessagesContainer{
                justify-content: right;
                .userMessage{
                    height: 100%;
                    width: 210px;
                    margin-left: 20px;
                    border-radius: 15px 15px 0 15px;
                    background-color: #002361
                }
            }
            
        }
        .textField{
            width: 85%;
            height: 50px;
            margin: 0 auto;
            margin-top: 80px;

            form{
                position: relative;
                textarea{
                    resize: none;
                    width: 85%;
                    height: 50px;
                    background-color: white;
                    outline: none;
                    border: transparent;
                }
                input{
                    display: none;
                }
                label{
                    height: 50px;
                    width: 50px;
                    background-color: white;
                    border: transparent;
                    outline: transparent;
                    position: absolute;
                    right: 0;
                    line-height: 55px;
                    text-align: center;

                    i{
                        font-size: 25px;
                        color: #0E4097;
                    }
                }
            }
        }
    }
}

