* {
  padding: 0;
  margin: 0;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.chatBot-Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, rgba(84, 158, 255, 0.692) 0%, rgba(14, 64, 151, 0.692) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.chatBot-Overlay .progressBar {
  width: 70%;
  max-width: 500px;
  border-radius: 20px;
  position: relative;
  top: 30px;
  height: 7px;
  background-color: #acacac;
  margin: 0 auto;
}

.chatBot-Overlay .progressBar .currentProgress {
  width: 80%;
  background-color: white;
  height: 100%;
  border-radius: 20px;
}

.chatBot-Overlay img {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.chatBot-Overlay .chatContainer {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 500px;
  height: 650px;
  background-color: #011d4d80;
  border-radius: 10px;
  padding-top: 50px;
}

.chatBot-Overlay .chatContainer .chatMessages {
  margin: 0 auto;
  width: 70%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-y: auto;
}

.chatBot-Overlay .chatContainer .chatMessages .messagesContainer {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chatBot-Overlay .chatContainer .chatMessages .botMessagesContainer {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.chatBot-Overlay .chatContainer .chatMessages .botMessagesContainer .botImg {
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50% 50% 0 50%;
}

.chatBot-Overlay .chatContainer .chatMessages .botMessagesContainer .botMessage {
  height: 100%;
  width: 210px;
  margin-left: 20px;
  border-radius: 15px 15px 15px 0;
  background-color: #68B2FF;
}

.chatBot-Overlay .chatContainer .chatMessages .userMessagesContainer {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.chatBot-Overlay .chatContainer .chatMessages .userMessagesContainer .userMessage {
  height: 100%;
  width: 210px;
  margin-left: 20px;
  border-radius: 15px 15px 0 15px;
  background-color: #002361;
}

.chatBot-Overlay .chatContainer .textField {
  width: 85%;
  height: 50px;
  margin: 0 auto;
  margin-top: 80px;
}

.chatBot-Overlay .chatContainer .textField form {
  position: relative;
}

.chatBot-Overlay .chatContainer .textField form textarea {
  resize: none;
  width: 85%;
  height: 50px;
  background-color: white;
  outline: none;
  border: transparent;
}

.chatBot-Overlay .chatContainer .textField form input {
  display: none;
}

.chatBot-Overlay .chatContainer .textField form label {
  height: 50px;
  width: 50px;
  background-color: white;
  border: transparent;
  outline: transparent;
  position: absolute;
  right: 0;
  line-height: 55px;
  text-align: center;
}

.chatBot-Overlay .chatContainer .textField form label i {
  font-size: 25px;
  color: #0E4097;
}
/*# sourceMappingURL=style.css.map */